<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zhanshen</title>
</head>
<style>
    body {
        height: 100vh;
        overflow: hidden;

    }
    .bar{
        display: inline-block;
        width: 50%;
        height: 100vh;
    }
    .bar2{
        float: left;
        width: 50%;
    }
</style>

<body>
    <div class="bar">
          大神大神
    </div>
    <div class="bar2">
        dasdasdad
    </div>
</body>

</html>
